<h2><%= _('Gamification Settings') %></h2>

<% if profile.gamification_plugin_disabled %>
  <%= button(:add, _('Enable gamification'),
  {:action => :enable_gamification, profile: profile.identifier, controller: :gamification_plugin_myprofile},
  :id => 'gamification_enable',
  :data => {:confirm=>_("Are you sure you want to activate gamification for this profile?")})
  %>
<% else %>
  <%= button(:remove, _('Disable gamification'),
  {:action => :disable_gamification, profile: profile.identifier, controller: :gamification_plugin_myprofile},
  :id => 'gamification_disable',
  :data => {:confirm=>_("Are you sure you want to deactivate gamification for this profile?")})
  %>
<% end %>
