<%= javascript_include_tag '/plugins/gamification/slick.min.js' %>
<%= javascript_include_tag 'jquery.timeago.js' %>
<%= stylesheet_link_tag '/plugins/gamification/slick.css' %>
<%= stylesheet_link_tag '/plugins/gamification/slick-theme.css' %>

<% extend GamificationPlugin::DashboardHelper %>

<div class="gamification gamification-dashboard">
  <h1><%= _('Gamification Dashboard for %s' % @target.identifier) %></h1>

  <div class="points">
    <div class="level">
      <h3> <%= _('Level') %></h3>
      <%= level_chart(@target) %>
      <div class="score total">
        <span class="label"><%= _('Score: ') %></span>
        <span class="value"><%= @target.points %></span>
      </div>
    </div>

    <% unless @target.score_points.empty? %>
    <div class="scores">
      <h3><%= _('Latest Score Points') %></h3>
      <% @target.score_points.order('created_at desc').where('num_points != 0').limit(5).each do |point| %>
        <div class="score <%= point.point_type.present? ? point.point_type.name : '' %> <%= score_point_class(point) %> <%= score_point_action_class(point) %>">
          <span class="value"><%= point.num_points %></span>
          <span class="category"><%= score_point_target_link point, _(score_point_category(point)) %></span>
          <span class="date timeago" title="<%= point.created_at %>"><%= point.created_at %></span>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <% unless environment.gamification_plugin_badges.empty? %>
  <div class="badges">
      <% grouped_badges.each do |owner, badges| %>
        <h3><%= badges_title owner %></h3>
        <ul class="badge-list">
          <% badges.group_by(&:name).each do |badge_name, badges_group| %>
            <% badge = badges_group.sort_by(&:level).last %>
            <% person_badge = @target.badges.where(:name => badge.name).last %>
            <li class="badge <%= badge.name %>">
              <div class="badge" title="<%= badge.description %>">
                <div class="image <%= badge.name %>"></div>
                <ul class="level rating">
                  <% 1.upto(badge.level).map do |n|%>
                    <span class="star <%= (person_badge && person_badge.level >= n) ? 'earned' : 'not-earned' %>" >★</span>
                  <% end %>
                </ul>
                <div class="title"><%= badge.title %></div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
  </div>
  <% end %>
</div>

<% if @target.kind_of?(Profile) %>
<div class="gamification-rankings">
  <h3><%= _('Ranking') %></h3>
  <div class="ranking week">
    <h4><%= _('Week') %></h4>
    <%= ranking(@target, Time.zone.now.at_beginning_of_week, 5) %>
  </div>
  <div class="ranking month">
    <h4><%= _('Month') %></h4>
    <%= ranking(@target, Time.zone.now.at_beginning_of_month) %>
  </div>
  <div class="ranking all-time">
    <h4><%= _('All Time') %></h4>
    <%= ranking(@target) %>
  </div>
</div>
<% end %>

<script>
$('.gamification .badge-list').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 3,
  slidesToScroll: 2,
  rows: 2,
});
$(".gamification-dashboard .timeago").timeago();
</script>
