<h1><%= _('Gamification Settings: Editing Badge') %></h1>

<%= render 'form' %>

<%= link_to 'Show', :action => :show, :id => @gamification_plugin_badge.id %> |
<%= link_to 'Back', :action => :index %>
