<div class="level">
  <span class="label"><%= _('Level') %></span> <span class="level-value"><%= level_counter + 1 %></span>
  <span><%= text_field_tag("settings[rank_rules][][points]", level['points']) %></span>
</div>
