<h1><%= _('Gamification Settings')%></h1>

<div>
  <%= link_to _('Manage Point Rules'), :controller => 'gamification_plugin_admin', :action => :points %>
</div>

<div>
  <%= link_to _('Manage Badges'), :controller => 'gamification_plugin_badges' %>
</div>

<div>
  <%#= link_to _('Manage Levels'), :controller => 'gamification_plugin_admin', :action => :levels %>
</div>

<%= button :cancel, _('Cancel'), :controller => :plugins, :action => :index %>
